SITE_TITLE="Site title"
SITE_DESC="Site desc"
DOMAIN="mydomain.tld"
VERSION_CTRL="v2"

BASE_PATH="/api"
COPYRIGHT="CR"
ADULT_CONTENT=1

BASE_DIR="/home/www/meshistoires/api"
CONFIG_DIR="${BASE_DIR}/config"
ROUTES_YAML="${BASE_DIR}/static/routesv2.yaml"
DB_YAML="${CONFIG_DIR}/db.yaml"
STOCKAGE_YAML="${CONFIG_DIR}/db.yaml"
SOCIAL_YAML="${CONFIG_DIR}/social.yaml"
AUTH_YAML="${CONFIG_DIR}/auth.yaml"
ADMIN_YAML="${CONFIG_DIR}/admin.yaml"
CACHE_YAML="${CONFIG_DIR}/cache_mongo.yaml"
SECURITY_YAML="${BASE_DIR}/static/security.yaml"
CREATIVEWORK="${CONFIG_DIR}/creativework.yaml"

HTML_TPL="${BASE_DIR}/template/html"
WWW_DATA_DIR="${BASE_DIR}/data/www"

USE_CACHE=1
EXP_CACHE=600

TRACE_RESPONSE=1
DEBUG=0

INDEX_NOW=1
INDEX_NOW_KEY=keyindexnow
INDEX_NOW_API="api index now"
INDEX_NOW_DATAPATH="${BASE_DIR}/data/indexNow"

INDEX_GOOGLE=1
INDEX_GOOGLE_KEY="keyindexgoogle"
INDEX_GOOGLE_DATAPATH="${BASE_DIR}/data/indexGoogle"

#cache
OPCAHE_FILE_CONTROL="${BASE_DIR}/version.yaml"
CACHE_DIR="${BASE_DIR}/data/cache"

# Nombre de d'histoire à afficher sur la page d'accueil
AC_HIST_LIMIT = 9

KEYWORDS="Mes histoires, Cocolst, collections, oeuvres, illustrations"
INDEXHTML="index.html.template"